<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Lie in April</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../css/music.css">
</head>
<body>
<div id="container">
    <div class="text-center" id="top"><h1>Your Lie in April</h1></div>

<div class="" id="kousei"><img src="../images/kousei.jpg"></div>
<div class="" id="infokousei"><p>
    Kousei Arima was the main character in an anime know as
    "Your Lie in April" that first began airing on October 9,
    2014. When Kousei was a young boy he learned to play
    piano from his mother, a well-known pianist throughout
    japan. After she passed away due to illness Kousei began
    to realize he could no longer hear notes as he played
    them on the piano. The world as Kousei knew it became
    monochrome and he stopped playing the piano. That is,
    until he met a girl name Kaori Miyazono.
</p></div>


<div class="" id="kaori"><img src="../images/kaori.jpg"></div>
<div class="" id="infokaori"><p>
    Kaori Miyazono, like Kousei, grew up dreaming of playing
    the piano. However, she changed her instrument of choice
    to violin, in hopes of one day being able to play on stage
    with the great Kousei Arima. In order to fulfill her dream
    she must first save Kousei from his fears of the past and
    convince him to take up the piano once again, but no one
    has been able to get Kousei on a piano in the last 2 years.
    When Kaori faces a similar fate to that of his mothers, Kousei
    wishes believes he should quit again, but he plays on because
    his friend taught him what it truly means to be a pianist.
</p></div>
</div>
</body>
</html>