<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Wine</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../css/wine.css">
</head>
<body>
<div class="container">
    <div class="text-center" id="head"><h1>Space Wine</h1></div>

<div id="alien"><img src="../images/alienwine.jpg"></div>


    <div class="words"><p>
        Space wine was the first place to open up selling wine somewhere other than earth. Shortly after starting, Space
        Wine became the single larges wine seller in all of the milky way. There best selling wine being Abduction.
        Soon they plan to expand to other galaxies than just the milky way. Before they can achieve this goal thy must
        first expand their production facilities. There are so many people buying their wine that they are having
        trouble keeping their stocks up. Some locations are getting filled with unhappy customers since the wine they
        desire is sold out. They have started to increase the costs and sell gummy bears with the wine since so many people
        want the wine and everyone knows that aliens love gummy bears so its just a chance to make even more money. We can
        expect to see Space Wine universe wide some time in 2230.
    </p></div>


<div id="gummy"><img src="../images/gummybears.jpg"></div>
</div>
</body>
</html>